@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));
@custom-variant hover (&:hover);

@tailwind utilities;

:root {
  --radius: 0.625rem;
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(93.705% 0.00011 271.152);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(95.213% 0.00011 271.152);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(90.67% 0.0001 271.152);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
  --background: oklch(89.143% 0.0001 271.152);
  --foreground: oklch(0.145 0 0);
}

.dark {
  --background: oklch(18.22% 0.00002 271.152);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 15%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }

  .gradient-button-bg {
    background: radial-gradient(circle at top,
        #a5b4fc,
        #3730a3);
    /* violet 300 -> 800 */
  }

  .gradient-button {
    background: radial-gradient(circle at bottom,
        #312e81 0%,
        hsl(0 0% 3.9%) 100%);
    /* violet 900 -> bg */
  }

  .gradient-button-bg>div:hover {
    background: radial-gradient(circle at bottom,
        #312e81 0%,
        hsl(0 0% 3.9%) 150%);
    /* violet 900 -> bg */
  }

  .gradient-project-card-bg {
    background: radial-gradient(circle at bottom right,
        #a5b4fc -15%,
        #3730a3 25%,
        hsl(0 0% 3.9%) 50%);
    /* violet 300 -> 800 */
  }

  .gradient-project-card {
    background: radial-gradient(circle at bottom right,
        #312e81 -50%,
        hsl(0 0% 3.9%) 50%);
    /* violet 900 -> bg */
  }

  .gradient-project-card-bg>div:hover {
    background: radial-gradient(circle at bottom right,
        #312e81 -50%,
        hsl(0 0% 3.9%) 60%);
    /* violet 900 -> bg */
  }

  .inline-decoration::after {
    content: "Generate G";
    color: #525252;
    border: 1px solid #525252;
    padding: 2px 4px;
    border-radius: 4px;
    margin-left: 56px;
  }

  .yRemoteSelection {
    opacity: 0.5;
    background-color: var(--user-color);
    margin-right: -1px;
  }

  .yRemoteSelectionHead {
    position: absolute;
    box-sizing: border-box;
    height: 100%;
    border-left: 2px solid var(--user-color);
  }

  .yRemoteSelectionHead::after {
    position: absolute;
    top: -1.4rem;
    left: -2px;
    padding: 2px 6px;
    background: var(--user-color);
    color: #fff;
    border: 0;
    border-radius: 6px;
    border-bottom-left-radius: 0;
    line-height: normal;
    white-space: nowrap;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    pointer-events: none;
    user-select: none;
    z-index: 1000;
  }

  .tab-scroll::-webkit-scrollbar {
    display: none;
  }

}

@layer components {

  /* Loader */
  .pyramid-loader {
    position: relative;
    width: 400px;
    height: 400px;
    display: block;
    transform-style: preserve-3d;
    transform: rotateX(-20deg);
  }

  .wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    animation: spinPyramid 4s linear infinite;
  }

  @keyframes spinPyramid {
    100% {
      transform: rotateY(360deg);
    }
  }

  .pyramid-loader .wrapper .side {
    width: 100px;
    height: 100px;
    /* you can choose any gradient or color you want */
    /* background: radial-gradient(#2F2585 10%, #F028FD 70%, #2BDEAC 120%); */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    transform-origin: center top;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  }

  .pyramid-loader .wrapper .side1 {
    transform: rotateZ(-30deg) rotateY(90deg);
    background: conic-gradient(#2BDEAC, #F028FD, #D8CCE6, #2F2585);
  }

  .pyramid-loader .wrapper .side2 {
    transform: rotateZ(30deg) rotateY(90deg);
    background: conic-gradient(#2F2585, #D8CCE6, #F028FD, #2BDEAC);
  }

  .pyramid-loader .wrapper .side3 {
    transform: rotateX(30deg);
    background: conic-gradient(#2F2585, #D8CCE6, #F028FD, #2BDEAC);
  }

  .pyramid-loader .wrapper .side4 {
    transform: rotateX(-30deg);
    background: conic-gradient(#2BDEAC, #F028FD, #D8CCE6, #2F2585);
  }

  .pyramid-loader .wrapper .shadow {
    width: 100px;
    height: 100px;
    background: #8B5AD5;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    transform: rotateX(90deg) translateZ(-60px);
    filter: blur(12px);
  }


  /* Theme button */
  .switch {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 64px;
    height: 34px;
  }

  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #73C0FC;
    transition: .4s;
    border-radius: 30px;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 30px;
    width: 30px;
    border-radius: 20px;
    left: 2px;
    bottom: 2px;
    z-index: 2;
    background-color: #e8e8e8;
    transition: .4s;
  }

  .sun svg {
    position: absolute;
    top: 6px;
    left: 36px;
    z-index: 1;
    width: 24px;
    height: 24px;
  }

  .moon svg {
    fill: #73C0FC;
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 1;
    width: 24px;
    height: 24px;
  }

  /* .switch:hover */
  .sun svg {
    animation: rotate 15s linear infinite;
  }

  @keyframes rotate {

    0% {
      transform: rotate(0);
    }

    100% {
      transform: rotate(360deg);
    }
  }

  /* .switch:hover */
  .moon svg {
    animation: tilt 5s linear infinite;
  }

  @keyframes tilt {

    0% {
      transform: rotate(0deg);
    }

    25% {
      transform: rotate(-10deg);
    }

    75% {
      transform: rotate(10deg);
    }

    100% {
      transform: rotate(0deg);
    }
  }

  .input:checked+.slider {
    background-color: #183153;
  }

  .input:focus+.slider {
    box-shadow: 0 0 1px #183153;
  }

  .input:checked+.slider:before {
    transform: translateX(30px);
  }


  /* AI Button */
  .toggle-cont {
    --primary: #54a8fc;
    --light: #d9d9d9;
    --dark: #121212;
    --gray: #414344;

    position: relative;
    z-index: 10;

    width: fit-content;
    height: 20px;

    border-radius: 9999px;
  }

  .toggle-cont .toggle-input {
    display: none;
  }

  .toggle-cont .toggle-label {
    --gap: 5px;
    --width: 20px;

    cursor: pointer;

    position: relative;
    display: inline-block;

    padding: 0.2rem;
    width: calc((var(--width) + var(--gap)) * 2);
    height: 100%;
    background-color: var(--dark);

    border: 1px solid #777777;
    border-bottom: 0;

    border-radius: 9999px;
    box-sizing: content-box;
    transition: all 0.3s ease-in-out;
  }

  .toggle-label::before {
    content: "";

    position: absolute;
    z-index: -10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: calc(100% + 2px);
    height: calc(100% + 2px);
    background-color: var(--gray);

    border: 1px solid #777777;
    border-bottom: 0;
    border-radius: 9999px;

    transition: all 0.3s ease-in-out;
  }

  .toggle-label::after {
    content: "";

    position: absolute;
    z-index: -10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 100%;
    height: 100%;
    background-image: radial-gradient(circle at 50% -100%,
        rgb(58, 155, 252) 0%,
        rgba(12, 12, 12, 1) 80%);

    border-radius: 9999px;
  }

  .toggle-cont .toggle-label .cont-icon {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    width: var(--width);
    height: 20px;
    background-image: radial-gradient(circle at 50% 0%,
        #666666 0%,
        var(--gray) 100%);

    border: 1px solid #aaaaaa;
    border-bottom: 0;
    border-radius: 9999px;
    box-shadow: inset 0 -0.15rem 0.15rem var(--primary),
      inset 0 0 0.5rem 0.75rem var(--second);

    transition: transform 0.3s ease-in-out;
  }

  .cont-icon {
    overflow: clip;
    position: relative;
  }

  .cont-icon .sparkle {
    position: absolute;
    top: 50%;
    left: 50%;

    display: block;

    width: calc(var(--width) * 1px);
    aspect-ratio: 1;
    background-color: var(--light);

    border-radius: 50%;
    transform-origin: 50% 50%;
    rotate: calc(1deg * var(--deg));
    transform: translate(-50%, -50%);
    animation: sparkle calc(100s / var(--duration)) linear calc(0s / var(--duration)) infinite;
  }

  @keyframes sparkle {
    to {
      width: calc(var(--width) * 0.5px);
      transform: translate(2000%, -50%);
    }
  }

  .cont-icon .icon {
    width: 1.1rem;
    fill: var(--light);
  }

  .toggle-cont:has(.toggle-input:checked) {
    --checked: true;
  }

  @container style(--checked: true) {
    .toggle-cont .toggle-label {
      background-color: #41434400;

      border: 1px solid #3d6970;
      border-bottom: 0;
    }

    .toggle-cont .toggle-label::before {
      box-shadow: 0 1rem 2.5rem -2rem #0080ff;
    }

    .toggle-cont .toggle-label .cont-icon {
      overflow: visible;

      background-image: radial-gradient(circle at 50% 0%,
          #045ab1 0%,
          var(--primary) 100%);

      border: 1px solid var(--primary);
      border-bottom: 0;

      transform: translateX(calc((var(--gap) * 2) + 100%)) rotate(-225deg);
    }

    .toggle-cont .toggle-label .cont-icon .sparkle {
      z-index: -10;

      width: calc(var(--width) * 1.5px);
      background-color: #acacac;

      animation: sparkle calc(100s / var(--duration)) linear calc(10s / var(--duration)) infinite;
    }

    @keyframes sparkle {
      to {
        width: calc(var(--width) * 1px);
        transform: translate(5000%, -50%);
      }
    }
  }
}